<style>
  table{
        margin-top: 30px;
      }
       th {
         margin-top: 15px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  color:black;
  font-size: 18px;
  padding:5px;
  text-align: center;
}
td{
  border-bottom: 1px solid gray;
  font-size: 16px;
  padding:5px;
  text-align: center;
}
  .switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(164,60,150);
}

input:focus + .slider {
box-shadow: 0 0 1px rgb(164,60,150);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 
      .right{
          float: right !important;
      }
  </style>
  
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="EDIT USER GROUP" [options]="false">
        <!--<div class="col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div> <br>
          </div>-->
        <!-- (ngSubmit)="onFormSubmit()" -->
  
        <form
          [formGroup]="editUserGroupForm"
          (ngSubmit)="onFormSubmit()"
          novalidate
          class="custom-login"
        >
        <div class="row">
          <div class="col-12 ">
              <label class="switch right">
                  <input type="checkbox" formControlName="status" checked>
               
                    <span class="slider round"></span>
                </label>
          </div>
      </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xl-6">
              <div class="form-group">
                <input type="hidden"
                id="id" name="id" formControlName="id">
                <label class="form-control-label"
                  >Group Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="
                    isSubmitted && editUserGroupForm.controls.name.errors
                      ? 'form-control input-md ng-touched ng-dirty is-invalid ng-invalid'
                      : 'form-control input-md ng-touched ng-dirty ng-valid'
                  "
                  id="name"
                  name="name"
                  style="text-transform: capitalize;"
                  placeholder="Enter Category Name"
                  formControlName="name"
                  trim="blur"
                />
                <span
                  *ngIf="
                    isSubmitted && editUserGroupForm.hasError('required', 'name')
                  "
                  class="custom-error-show"
                  >Please enter group name.</span
                >
                <div
                  *ngIf="
                    isSubmitted &&
                    !editUserGroupForm.hasError('required', 'name') &&
                    editUserGroupForm.hasError('pattern', 'name')
                  "
                  class="custom-error-show"
                >
                  Group Name should contains alphabetic only.
                </div>
                <div
                  *ngIf="
                    isSubmitted &&
                    !editUserGroupForm.hasError('required', 'name') &&
                    !editUserGroupForm.hasError('pattern', 'name') &&
                    (editUserGroupForm.hasError('maxlength', 'name') ||
                      editUserGroupForm.hasError('minlength', 'name'))
                  "
                  class="custom-error-show"
                >
                  Group Name must be 2 to 50 characters long.
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-6">
              <div class="form-group">
                <label class="form-control-label"
                  >Description <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="
                    isSubmitted && editUserGroupForm.controls.description.errors
                      ? 'form-control input-md ng-touched ng-dirty is-invalid ng-invalid'
                      : 'form-control input-md ng-touched ng-dirty ng-valid'
                  "
                  id="description"
                  style="text-transform: capitalize;"
                  name="description"
                  placeholder="Enter Description"
                  formControlName="description"
                  trim="blur"
                />
                <span
                  *ngIf="
                    isSubmitted &&
                    editUserGroupForm.hasError('required', 'description')
                  "
                  class="custom-error-show"
                  >Please enter Description.</span
                >
                <div
                  *ngIf="
                    isSubmitted &&
                    !editUserGroupForm.hasError('required', 'description') &&
                    editUserGroupForm.hasError('pattern', 'description')
                  "
                  class="custom-error-show"
                >
                  Description should contains alphabetic only.
                </div>
                <div
                  *ngIf="
                    isSubmitted &&
                    !editUserGroupForm.hasError('required', 'description') &&
                    !editUserGroupForm.hasError('pattern', 'description') &&
                    (editUserGroupForm.hasError('maxlength', 'description') ||
                      editUserGroupForm.hasError('minlength', 'description'))
                  "
                  class="custom-error-show"
                >
                  Description must be 2 to 1000 characters long.
                </div>
              </div>
            </div>
          </div>
  
          <div class="table-responsive custom-table-responsive">
            <table class="row-border hover">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>Page name</th>
                  <th *ngFor="let p of positions">{{ p.name }}</th>
                </tr>
              </thead>
  
              <tbody *ngIf="usersGroupDataPages?.length != 0">
                <tr *ngFor="let page of usersGroupDataPages; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ page?.name }}</td>
                  <td *ngFor="let p of positions">
                    <input
                      type="checkbox"
                      formControlName="pageAccess"
                      (change)="onCheckboxChange($event, p.name, page?.name)"
                    />
                  </td>
                </tr>
              </tbody>
              <!-- *ngIf="promotions?.length = 0" -->
              <tbody *ngIf="usersGroupDataPages?.length == 0">
                <tr>
                  <td colspan="6" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="footrt-btns">
            <button
              type="button"
              class="btn btn-danger"
              style="background-color: orangered;"
              [routerLink]="['/user-group/']"
            >
              &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;
            </button>
            <button
              type="submit"
              class="btn btn-info"
              style="background-color: rgb(164,60,150);"
            >
              &nbsp;&nbsp;&nbsp;UPDATE&nbsp;&nbsp;&nbsp;</button
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </app-card>
      <ngx-loading
      [show]="loading"
      [config]="{
        animationType: 'wandering-cubes',
        primaryColour: primaryColour,
        secondaryColour: secondaryColour,
        backdropBorderRadius: '3px'
      }"
    >
    </ngx-loading>
    
    </div>
  </div>
  