 
  <div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="ADD BANNER" [options]="false">
         
        <form [formGroup]="addBillForm" (ngSubmit)="onFormSubmit()" novalidate class="custom-login">

               <div class="row">
                      <div class="col-sm-6 col-md-6 col-xl-6">
                          <div class="form-group">
                              <label class="form-control-label">Name<span class="text-danger">*</span></label>
                             <input type="text"
                                  [ngClass]="(isSubmitted && addBillForm.controls.name.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                  id="name" name="name" placeholder="Enter Personal Plan" formControlName="name"
                                  trim="blur">
                              <span *ngIf="isSubmitted && addBillForm.hasError('required','name')"
                                  class="custom-error-show">Please
                                  enter Personal Plan</span>
                              <div *ngIf="isSubmitted && !addBillForm.hasError('required','name') && addBillForm.hasError('pattern','name')"
                                  class="custom-error-show">
                                  Personal Plan contain alphabates</div>
                              <div *ngIf="isSubmitted && !addBillForm.hasError('required','name') && !addBillForm.hasError('pattern','name') && (addBillForm.hasError('maxlength','name') || addBillForm.hasError('minlength','name'))"
                                  class="custom-error-show">
                                  must be 2 to 50 characters long.</div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Detail<span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="(isSubmitted && addBillForm.controls.details.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="details" name="details" placeholder="Detail personal plan" formControlName="details"
                                trim="blur">
                            <span *ngIf="isSubmitted && addBillForm.hasError('required','details')"
                                class="custom-error-show">Please
                                enter details</span>
                            <div *ngIf="isSubmitted && !addBillForm.hasError('required','details') && addBillForm.hasError('pattern','details')"
                                class="custom-error-show">
                                personal plan detail contain alphabates</div>
                            <div *ngIf="isSubmitted && !addBillForm.hasError('required','details') && !addBillForm.hasError('pattern','details') && (addBillForm.hasError('maxlength','details') || addBillForm.hasError('minlength','name'))"
                                class="custom-error-show">
                                must be 2 to 50 characters long.</div>
                        </div>
                      </div>                   
                  </div>
                  <div class="row">
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label">Billing Type <span class="text-danger">*</span></label>

                            <select class="form-control" formControlName="billingType"
                            >
                            <!-- <option>Select Promotion type</option> -->
                            <option value="cash">
                                Cash
                            </option>
                            <option value="percentage">
                                Percentage
                            </option>
                        </select>
                          </div>
                    <!-- <div class="form-group">
                      <label class="form-control-label" >Group Name <span class="text-danger">*</span></label>
                      <select class="form-control" formControlName="groupName"
                      [ngClass]="(isSubmitted && addBillForm.controls.groupName.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                      <option *ngFor="let group of usersGroupData" [value]="group._id">
                          {{group.name}}
                      </option>
                  </select>
                    </div> -->
                  </div>
        
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label">Charge Amount <span class="text-danger">*</span></label>
                        <input type="number"
                          [ngClass]="(isSubmitted && addBillForm.controls.chargeAmt.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                          id="chargeAmt" name="chargeAmt" placeholder="Charge Amount..." formControlName="chargeAmt" trim>
                          <div *ngIf="isSubmitted && addBillForm.hasError('required','chargeAmt')" class="custom-error-show">Select Number</div>
                          <div *ngIf="isSubmitted && !addBillForm.hasError('required','chargeAmt') && (addBillForm.hasError('minlength','chargeAmt') || addBillForm.hasError('maxlength','chargeAmt'))" class="custom-error-show">chargeAmt must be in number</div>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="footrt-btns">
                            <button type="button" class="btn btn-danger" style="background-color:orangered;"[routerLink]="['/billing-plan/']">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
                            <button type="submit" class="btn btn-info" style="background-color: Green;" >&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                        </div>
                      </div>
                </div>
                
              
              </form>
        </app-card>
    </div>
  </div>