<style>
    .forgot-password{
      text-align: right;
    }
  </style>
  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <form [formGroup]="resetForm" (ngSubmit)="onresetFormSubmit()" novalidate class="custom-login">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <!-- <span class="main-logo"><img src="assets/images/main-logo1.png" alt="logo"></span> -->
            </div>
            <h3 class="mb-4">Reset Password</h3>
            <div class="input-group mb-3">
                <input type="password"
                [ngClass]="(isSubmitted && resetForm.controls.password.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                id="password" name="password" placeholder="Enter New Password" formControlName="password" trim>
                <div *ngIf="isSubmitted && resetForm.hasError('required','password')" class="custom-error-show">Please enter password.</div>
                <div *ngIf="isSubmitted && !resetForm.hasError('required','password') && (resetForm.hasError('minlength','password') || resetForm.hasError('maxlength','password'))" class="custom-error-show">Password must be 6-16 charaters long.</div>
            </div>
            <div class="input-group mb-4">
                <input type="password"
                [ngClass]="(isSubmitted && resetForm.controls.confirmPassword.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                id="confirmPassword" name="confirmPassword" placeholder="Enter Confirm Password" formControlName="confirmPassword" trim>
                <div *ngIf="isSubmitted && resetForm.hasError('required','confirmPassword')" class="custom-error-show">Please enter confirm password.</div>
                <div *ngIf="isSubmitted && !resetForm.hasError('required','confirmPassword') && resetForm.hasError('MatchPassword','confirmPassword')" class="custom-error-show">Confirm password does not match with entered password.</div>
            </div>
             
            <button type="submit" class="btn btn-primary mb-4 ">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng2-toasty [position]="position"></ng2-toasty>
  <ngx-loading [show]="loading"
    [config]="{animationType: 'wandering-cubes', primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
  </ngx-loading>