<style>
  .btn-primary{
    padding-left: 20px;
    padding-right: 8px;
  }
  .btn-danger{
    padding-left: 20px;
    padding-right: 8px;
  }
  button.btn.btn-primary.btn-action {
    padding: 5px 10px 5px 10px;
  }

  /*Style for switch*/
  .switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(164,60,150);
}

input:focus + .slider {
box-shadow: 0 0 1px rgb(164,60,150);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 
    .btn-danger{
      padding-left:11px;
      padding-right: 11px;
    }
    .fa-refresh:before {
    content: "\f021";
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="List Of Drivers" [options]="false">
      <div class="datatable-top-btn-left">
        <form class="row" [formGroup]="filterForm" (ngSubmit)="filterList()" novalidate>
          <div class="form-group">
            Start Date
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="fromDate" ngbDatepicker
                #fd="ngbDatepicker" readonly>
              <div class="input-group-append">
                <span class="input-group-text" (click)="fd.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <span *ngIf="submitted && filterForm.hasError('required','fromDate')" class="custom-error-show">
              Please select start date.
            </span>
          </div>
          <div class="form-group">
            End date
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="toDate" ngbDatepicker
                #td="ngbDatepicker" [minDate]="filterForm.value.fromDate" readonly>
              <div class="input-group-append">
                <span class="input-group-text" (click)="td.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <span *ngIf="submitted && filterForm.hasError('required','toDate')" class="custom-error-show">
              Please select to date.
            </span>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="input-group">
              <button class="btn btn-primary" type="submit" title="Filter">
                <i class="fas fa-filter"></i>
              </button>
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="input-group">
              <button class="btn btn-danger" type="button" (click)="resetFilter()" title="Reset">
                  <i class="fas fa-refresh"></i>
                </button>
            </div>
          </div>
        </form>
      </div>
      <div class="datatable-top-btn">
        <!--<button class="btn btn-success" type="button" (click)="exportAsXLSX_Driver()"><i class="fas fa-plus"></i>Export
          Driver Details</button>-->
        <button class="btn btn-info" type="button" style="background-color: rgb(164,60,150);border:none;" [routerLink]="['/driver-management-promoter/add-driver']"><i class="fas fa-plus"
            title="Add Driver"></i>Add Driver</button>
      </div>
      <div class="table-responsive custom-table-responsive">
        <button id="btn" style="float:right;border:1px solid rgb(164,60,150);color: rgb(164,60,150);" class="btn btn-default " (click)="exportAsXLSX_Driver()"><b>Excel</b></button>
          <button style="border:1px solid rgb(164,60,150);float:right;color: rgb(164,60,150);" class="btn btn-default " (click)="generatePdf()"><b>PDF</b></button>
          <button style="border:1px solid rgb(164,60,150);color: rgb(164,60,150);float:right;" class="btn btn-default " onclick="window.print()"><b>Print</b></button>
          <table   datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>No</th>
              <th>DriverId</th>
              <th>Profile</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Credit</th>

              <!-- <th>Credit(EURO)</th> -->
              <!-- <th>Trips</th>
              <th>Ride Income(EURO)</th>
              <th>Status</th>
              <th>Registered Date</th>-->
              <th>Approved</th> 
              <th>Action</th>
              <!-- <th>Refferal Hierarchy</th>
              <th>Refferal Earning</th>
              <th>Profile</th>
              <th>Invited By</th> -->
            </tr>
          </thead>
          <tbody *ngIf="drivers">
            <tr *ngFor="let driver of drivers">
              <td>{{ driver?.autoIncrementID ? driver?.autoIncrementID : "---"}}</td>
              <td>{{ driver.uniqueID }}</td>
              <td>
                <div class="uploded-profile-pic datatable-profile-pic">
                  <figure>
                    <img src="{{profilePhotoUrl}}{{driver.profilePhoto}}" alt="profile-pic"
                      (error)="imgErrorHandler($event)">
                  </figure>
                </div>
              </td>
              <td>{{ driver.name || "N/A" }}</td>
              <td>{{ driver.onlyPhoneNumber || "N/A" }}</td>
              <!-- <td><label
                [ngStyle]="{'color': driver.isSame ? 'red' : '' }"><b>{{ driver?.creditBalance  | round |number : '1.0-0' }}</b></label>
            </td> -->
              <td>N/A</td>
              <!-- <td> {{driver?.totalRideEarning |number : '1.0-0'}} EURO</td>
              <td>
                <label class="switch">
                  <input *ngIf="driver?.status == true" type="checkbox" (change)="onChangebtn(driver._id,false)" checked>
                  <input *ngIf="driver?.status == false" type="checkbox" (change)="onChangebtn(driver._id,true)" >
                    <span class="slider round"></span>
                </label>
               </td>

              <td>{{ driver?.createdAt | date: "dd/MM/yyyy  h:mm a"  }}
              </td> -->
              <td>
                <button *ngIf="!driver.isVerified" class="btn btn-warning btn-verify" type="button"
                  (click)="verifyUnverifyDriver(driver)" title="Unverify">Unverify</button>
                <button *ngIf="driver.isVerified" class="btn btn-success btn-verify" type="button"
                  (click)="verifyUnverifyDriver(driver)" title="verify">Verify</button>
                  <br>
                  <div *ngIf="driver.isVerified">  {{driver?.verifiedBy?.name ? ("Verified By:"):'' }} <br>
                    {{driver?.verifiedBy?.name}} </div>
              
              </td>
              <!--<td>
                
              </td>
              <td>
                <button *ngIf="!driver.isVerified" class="btn btn-warning btn-verify" type="button"
                  (click)="verifyUnverifyDriver(driver)" title="Unverify">Unverify</button>
                <button *ngIf="driver.isVerified" class="btn btn-success btn-verify" type="button"
                  (click)="verifyUnverifyDriver(driver)" title="verify">Verify</button><br>
                {{driver?.verifiedBy?.first_name ? ("Verified By:"):'' }} <br>
                {{driver?.verifiedBy?.first_name}} <br>
                {{driver?.verifiedBy?.last_name}}
              </td>
              <td>
                
              </td>-->
              <td>
                <button class="btn btn-primary btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/driver-management-promoter/view-driver/', driver._id]" title="edit"><i class="fas fa-edit"></i></button>
                <button *ngIf="!driver.isBlocked" class="btn btn-warning btn-action" type="button"
                  (click)="blockUnblockDriver(driver)" title="Unblock"><i class="fas fa-unlock"></i></button>
                <button *ngIf="driver.isBlocked" class="btn btn-danger btn-action" type="button"
                  (click)="blockUnblockDriver(driver)" title="block"><i class="fas fa-unlock-alt"></i></button>
                <button class="btn btn-danger btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/driver-management-promoter/detail-driver/', driver._id]" title="view"><i class="fas fa-eye"></i></button>
              </td>
              <!-- <td>
                <button class="btn btn-primary btn-action" ngbtooltip="btn-primary" type="button"
                  title="view">{{driver?.totalInvitedCount  }}</button>
                <button *ngIf="driver.driverLevel == 3" class="btn btn-warning btn-action" ngbtooltip="btn-primary"
                  type="button" (click)="levelnotfound()" title="Level"><i class="fas fa-level-down-alt"></i></button>
                <button class="btn btn-warning btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/hierarchy/one-driver-hierarchy/', driver._id]"
                  [queryParams]="{LevelId:  driver.driverLevel}" title="Level"><i
                    class="fas fa-level-down-alt"></i></button>
              </td> -->
              <!-- <td>
                {{driver?.totalReferralEarning |number : '1.0-0'}} KHR <br>
                <button class="btn btn-primary btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/refferal/view-driver-refferal-earning/', driver._id]" title="view"><i
                    class="fas fa-coins"></i></button>
              </td>
              <td>
                <div class="uploded-profile-pic datatable-profile-pic">
                  <figure>
                   N/A
                  </figure>
                </div>
              </td>
              <td>
                N/A
              </td> -->
            </tr>
          </tbody>

          
          <tbody *ngIf="!driverlist">
            <tr>
              <td colspan="16" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
       
      </div>
   </app-card>
  </div>
</div>
<ngx-loading [show]="loading"
  [config]="{animationType: 'wandering-cubes', primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
</ngx-loading>