<style>
      .switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(164,60,150);
}

input:focus + .slider {
box-shadow: 0 0 1px rgb(164,60,150);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 
      .right{
          float: right !important;
      }
      
  </style>
  
  <div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="ADD USER" [options]="false">
           

        <form [formGroup]="addUserForm" (ngSubmit)="onFormSubmit()" novalidate class="custom-login">
            <div class="row">
                <div class="col-12 ">
                    <label class="switch right">
                        <input  type="checkbox" formControlName="isActive" checked>
                          <span class="slider round"></span>
                      </label>
                </div>
            </div>
               <div class="row">
                      <div class="col-sm-6 col-md-6 col-xl-6">
                          <div class="form-group">
                              <label class="form-control-label">User Name <span class="text-danger">*</span></label>
                              <input type="text"
                                  [ngClass]="(isSubmitted && addUserForm.controls.userName.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                  id="userName" name="userName" placeholder="Enter Name English" formControlName="userName"
                                  trim="blur">
                              <span *ngIf="isSubmitted && addUserForm.hasError('required','userName')"
                                  class="custom-error-show">Please
                                  enter name in english.</span>
                              <div *ngIf="isSubmitted && !addUserForm.hasError('required','userName') && addUserForm.hasError('pattern','userName')"
                                  class="custom-error-show">
                                  Name english should contains alphabetic only.</div>
                              <div *ngIf="isSubmitted && !addUserForm.hasError('required','userName') && !addUserForm.hasError('pattern','userName') && (addUserForm.hasError('maxlength','userName') || addUserForm.hasError('minlength','userName'))"
                                  class="custom-error-show">Name english
                                  must be 2 to 50 characters long.</div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-xl-6">
                          <div class="form-group">
                              <label class="form-control-label">Phone Number <span class="text-danger">*</span></label>
                              <input type="text"
                                  [ngClass]="(isSubmitted && addUserForm.controls.phone.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                  id="phone" name="phone" placeholder="Enter Mobile Number" formControlName="phone"
                                  trim="blur" (input)="onChangeMobileNumber()">
                              <span *ngIf="isSubmitted && addUserForm.hasError('required','phone')"
                                  class="custom-error-show"> Please enter mobile number..</span>
                                  <div *ngIf="isSubmitted && !addUserForm.hasError('pattern','phone') && !addUserForm.hasError('required','phone') && (addUserForm.hasError('minlength','phone') || addUserForm.hasError('maxlength','phone')) "
                                  class="custom-error-show">
                                  Mobile number must contain 8 to 16 digits.
                              </div>
                              <div *ngIf="isSubmitted && !addUserForm.hasError('required','phone') && addUserForm.hasError('pattern','phone')"
                              class="custom-error-show">
                              Please enter valid mobile number.
                          </div>
                          </div>
                      </div>                   
                  </div>
                  <div class="row">
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label" >Group Name <span class="text-danger">*</span></label>
                      <select class="form-control" formControlName="groupId"
                      [ngClass]="(isSubmitted && addUserForm.controls.groupId.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                      <option *ngFor="let group of usersGroupData" [value]="group._id">
                          {{group.name}}
                      </option>
                  </select>
                    </div>
                  </div>
        
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label">Email</label>
                        <input type="email"
                            [ngClass]="(isSubmitted && addUserForm.controls.email.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                            id="email" name="email" placeholder="Enter Email" formControlName="email" trim="blur">
                        <span *ngIf="isSubmitted && addUserForm.hasError('required','email')"
                            class="custom-error-show">Please enter email.</span>
                        <span
                            *ngIf="isSubmitted && !addUserForm.hasError('required','email') && addUserForm.hasError('pattern','email')"
                            class="custom-error-show">Please enter valid email.</span>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label">Password <span class="text-danger">*</span></label>
                        <input type="password"
                          [ngClass]="(isSubmitted && addUserForm.controls.password.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                          id="password" name="password" placeholder="Enter Password" formControlName="password" trim>
                          <div *ngIf="isSubmitted && addUserForm.hasError('required','password')" class="custom-error-show">Please enter password.</div>
                          <div *ngIf="isSubmitted && !addUserForm.hasError('required','password') && (addUserForm.hasError('minlength','password') || addUserForm.hasError('maxlength','password'))" class="custom-error-show">Password must be 6-16 charaters long.</div>
                      </div>
                  </div>
        
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label">Confirm Password <span class="text-danger">*</span></label>
                        <input type="password"
                          [ngClass]="(isSubmitted && addUserForm.controls.confirmPassword.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                          id="confirmPassword" name="confirmPassword" placeholder="Enter Confirm Password" formControlName="confirmPassword" trim>
                          <div *ngIf="isSubmitted && addUserForm.hasError('required','confirmPassword')" class="custom-error-show">Please enter confirm password.</div>
                          <div *ngIf="isSubmitted && !addUserForm.hasError('required','confirmPassword') && addUserForm.hasError('MatchPassword','confirmPassword')" class="custom-error-show">Confirm password does not match with entered password.</div>
                      </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <!-- <div class="form-group">
                      <label class="form-control-label" >Group Name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter category name">
                    </div> -->
                  </div>
                  
                  <div class="col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                        <label class="form-control-label" >Position <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="positionId"
                        [ngClass]="(isSubmitted && addUserForm.controls.positionId.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                        <option *ngFor="let userPosition of usersData" [value]="userPosition._id">
                            {{userPosition.position}}
                        </option>
                    </select>
                      </div>
                  </div>
                </div> 
                <div class="footrt-btns">
                  <button type="button" class="btn btn-danger" style="background-color:orangered;"[routerLink]="['/user/']">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
                  <button type="submit" class="btn btn-info" style="background-color: rgb(164,60,150);">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
              </div>
              </form>
        </app-card>
    </div>
  </div>