<style>
  .fa-refresh:before {
    content: "\f021";
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="PASSENGERS-REFERRAL HIERARCHY" [options]="false">
      <div class="datatable-top-btn-left">
        <form class="row" [formGroup]="filterForm" (ngSubmit)="filterList()" novalidate>
          <div class="form-group">
            Start Date
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="fromDate" ngbDatepicker
                #fd="ngbDatepicker" readonly>
              <div class="input-group-append">
                <span class="input-group-text" (click)="fd.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <span *ngIf="submitted && filterForm.hasError('required','fromDate')" class="custom-error-show">
              Please select start date.
            </span>
          </div>
          <div class="form-group">
            End Date
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="toDate" ngbDatepicker
                #td="ngbDatepicker" [minDate]="filterForm.value.fromDate" readonly>
              <div class="input-group-append">
                <span class="input-group-text" (click)="td.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <span *ngIf="submitted && filterForm.hasError('required','toDate')" class="custom-error-show">
              Please select to date.
            </span>
          </div>
          <div class="form-group">
            <div class="input-group">
              <button style="margin-top:20px;" class="btn btn-primary" type="submit" title="Filter">
                <i class="fas fa-filter"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group" style="background-color: transparent;">
                <button class="btn btn-danger" style="margin-top:20px;" type="button" (click)="resetFilter()" title="Reset">
                    <i class="fas fa-refresh"></i>
                  </button>
                  
            </div>
          </div>
        </form>
      </div>
      <!--<div class="datatable-top-btn">
          <button class="btn btn-success" type="button" (click)="exportAsXLSX_Passenger()"><i
              class="fas fa-plus"></i>Export
            Passenger Details</button>
        </div>-->
      <div class="table-responsive custom-table-responsive">

        <button id="btn" style="float:right;border:1px solid rgb(164,60,150);color: rgb(164,60,150);" class="btn btn-default " (click)="exportExcelData()" ><b>Excel</b></button>
          <button style="border:1px solid rgb(164,60,150);float:right;color: rgb(164,60,150);" class="btn btn-default "(click)="generatePdf()"><b>PDF</b></button>
          <button style="border:1px solid rgb(164,60,150);color: rgb(164,60,150);float:right;" class="btn btn-default " onclick="window.print()"><b>Print</b></button>
        

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Passenger Id</th>
              <th>Photo</th>
              <th>Name</th>
              <th>Phone number</th>
              <th>Refferal Earning</th>
              <th>Picture Of Invited by</th>
              <th>Number of Invited By</th>

              <th>Invited By</th>
              <th>Register Date</th>

              <th>Referral Hierarchy</th>

              <!-- <th>Credit(KHR)</th> -->
              <!--<th>Picture Of Invited by</th>-->
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="passengers?.length != 0">
            <tr *ngFor="let passenger of passengers">
              <td>{{ passenger?.autoIncrementID ? passenger?.autoIncrementID : "---"}}</td>
              <td>{{ passenger?.uniqueID }}</td>
              <td>
                <div class="uploded-profile-pic datatable-profile-pic">
                  <figure>
                    <img src="{{profilePhotoUrl}}{{passenger.profilePhoto}}" alt="profile-pic"
                      (error)="imgErrorHandler($event)">
                  </figure>
                </div>
              </td>
              <td>{{ passenger?.name }}</td>

              <td>{{ passenger?.onlyPhoneNumber }}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>

              <td>{{ passenger?.createdAt |date : "dd/MM/yyyy" }}</td>
              
            
              

              <!--<td *ngIf="!passenger?.parentPassenger.profilePhoto && passenger?.parentPassenger.profilePhoto != ''"> ---  </td>-->
              
              
                <!--<td *ngIf="!passenger?.parentPassenger.profilePhoto && passenger?.parentPassenger.profilePhoto != ''"> ---  </td>
                <td>{{ passenger?.parentPassenger?.phoneNumber ? passenger?.parentPassenger?.phoneNumber :"---" }}</td>-->
                <td><button class="btn btn-warning btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/hierarchys/one-passenger-hierarchy/', passenger._id]"
                  [queryParams]="{LevelId:  passenger.passengerLevel}"
                  title="Level">{{ passenger?.totalInvitedCount }}</button>
                </td>
              <td>
                <button class="btn btn-primary btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/hierarchys/view-passenger-hierarchy/', passenger._id]" title="view"><i
                    class="fas fa-eye"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="passengers?.length == 0">
            <tr>
              <td colspan="10" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<ngx-loading [show]="loading"
  [config]="{animationType: 'wandering-cubes', primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
</ngx-loading>